.vscode/launch.json
paper/elsarticle/doc/1pseperateaug.pdf
paper/elsarticle/doc/1psingleauthorgroup.pdf
paper/elsarticle/doc/elsdoc.aux
paper/elsarticle/doc/elsdoc.fdb_latexmk
paper/elsarticle/doc/elsdoc.fls
paper/elsarticle/doc/elsdoc.log
paper/elsarticle/doc/elsdoc.out
paper/elsarticle/doc/elsdoc.pdf
paper/elsarticle/doc/elsdoc.synctex.gz
paper/elsarticle/doc/elsdoc.tex
paper/elsarticle/doc/elstest-1p.pdf
paper/elsarticle/doc/elstest-1pdoubleblind.pdf
paper/elsarticle/doc/elstest-3p.pdf
paper/elsarticle/doc/elstest-3pd.pdf
paper/elsarticle/doc/elstest-5p.pdf
paper/elsarticle/doc/jfigs.pdf
paper/elsarticle/doc/makefile
paper/elsarticle/doc/pdfwidgets.sty
paper/elsarticle/doc/rvdtx.sty
paper/elsarticle/doc/tmp.tex
xworld/ledger/chaincode/aswap/vendor/*
xworld/ledger/chaincode/nft/vendor/*
xworld/ledger/chaincode/swap/vendor/*
xworld/ledger/chaincode/token/vendor/*
simulator/data*
amhl/res*
xworld/metamart/assetstore/
.vscode/settings.json
simulator/__pycache__/*
simulator/.DS_Store
*.log
*.DS_Store