<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LA Pay</title>
    <style>
        .container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 20px;
        }

        .image {
            max-width: 50%;
            height: auto;
            margin-right: 20px;
        }

        .content {
            max-width: 50%;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="data:image/png;base64,{{.Image}}" class="image">
        <div class="content">
            <p>Merchant: {{.Merchant}}</p>
            <p>Amount: {{.Amount}}</p>
        </div>
    </div>
</body>

</html>